@import "tailwindcss";

@theme {
  --color-primary: #00d4ff;
  --color-secondary: #16213e;
  --color-dark: #1a1a2e;
}

body {
  @apply bg-[#050510] text-gray-100 antialiased font-sans;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
